p{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: #00263A;
}

h2{
    font-family: "Lora", Times, serif;
    font-size: 36px;
    font-weight: 200;
    color: #00263A;
}

h3{
    padding: 40px 0px 0px 0px;
    font-family: "Lora", Times, serif;
    font-size: 32px;
    font-weight: 200;
}

h4{
    font-family: "Lora", Times, serif;
    font-size: 52px;
    font-weight: 200;
    color: #333F48;;
}

ul{
    list-style: none;
    padding-left: 0;
}

li{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px; 
    line-height: 36px;
}

.aggieblue{
    background-color: #00263A;
}

.txtfittingwhite{
    color: #ffffff;
}

.nav, .navbar-brand {
    font-family: "Lora", Times, serif;
    font-size: 20px;
}

.jumbotron{
    background-image: url("../images/greenhouse-hero.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 450px;
    margin: 80px 0px 0px 0px;
    border-radius: .8rem;
}

.display-4{
    font-family: "Lora", Times, serif;
    font-size: 52px;
    color: #333F48;
    padding: 0px 0px 0px 40px;
    margin: -40px 0px 0px 0px;
}

.nav-link{
    font-family: "Lora", Times, serif;
}

.lead{
    font-family: "Lora", Times, serif;
    font-size: 28px;
    color: #333F48;
    padding: 0px 0px 0px 40px;
}

.prototypeleader{
    font-family: "Lora", Times, serif;
    font-size: 28px;
    color: #333F48;
}

.card{
    border-radius: 20px;
}

.strongstat{
    font-size: 90px;
    font-weight: 100;
    padding: 40px 0px 40px 0px;
    color:#043389;
}

.emphasis{
    font-size: 22px;
    font-weight: 400;
}

.chunk{
    width: 42%;
}

.hellogreenhouse{
    background-image: url("../images/hello-greenhouse.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 450px;
}


th[scope=row] {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #00263A;
    font-weight: 300;
}

.topfooter{
    background-color: #00263A;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    margin: 80px 0px 0px 0px;
    padding: 80px 0px 80px 40px;

}

.topfooter p{
    color: #ffffff;
}

.imavailable{
    font-family: "Lora", Times, serif;
    font-weight: 200;
    font-size: 38px;
}

.bottomfooter{
    background-color: #8A8D8F;
    color: #ffffff;
    padding: 20px 0px 20px 40px;
}

.bottomfooter p{
    color: #ffffff;
    line-height: normal;
}



@media screen and (max-width: 767px){   
    #casestudyimg1{      
        content:url("../images/user-flow-xs.jpg");
    }
    #casestudyimg2{      
        content:url("../images/calendar-screen-sm.jpg");
    }
    #casestudyimg3{      
        content:url("../images/menu-system-sm.jpg");
    }
    h4{
        font-size: 28px;
    }
    .prototypeleader{
        font-size: 18px;
    }
    .strongstat{
        font-size: 55px;
    }    
} 


@media screen and (min-width: 768px) {      
    #casestudyimg1{      
       content:url("../images/user-flow-xs.jpg");
     }
     #casestudyimg2{      
        content:url("../images/calendar-screen-sm.jpg");
    }
    #casestudyimg3{      
        content:url("../images/menu-system-sm.jpg");
    }
    h4{
        font-size: 28px;
    }
    .prototypeleader{
        font-size: 18px;
    }
    .strongstat{
        font-size: 60px;
    }       
} 

@media (min-width: 992px){      
    #casestudyimg1{        
          content:url("../images/user-flow-sm.jpg");  
      }
    #casestudyimg2{      
        content:url("../images/calendar-screen.jpg");
    } 
    #casestudyimg3{      
        content:url("../images/menu-system.jpg");
    }  
}

@media (min-width: 1200px) {    
    #casestudyimg1{         
         content:url("../images/user-flow.jpg");   
     }
    #casestudyimg2{      
        content:url("../images/calendar-screen.jpg");
    }
    #casestudyimg3{      
        content:url("../images/menu-system.jpg");
    }  
}

